.bar-graph {
    padding-bottom: 15px;
    padding-top: 15px;
}

.bar-graph svg {
    background-color: #f2f2f2;
    display: block;
    margin: auto;
}

.bar-graph g.axes line{
    stroke: darkgray;
    stroke-dasharray: 3;
}

.bar-graph text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 85%;
}

.bar-graph g rect {
    transition: 0.1s ease;
}

.bar-graph g.left-bars rect {
    fill: #006699;
}

.bar-graph g.right-bars rect {
    fill: #cc0000;
}

.bar-graph g rect:hover {
    fill: grey;
}

.bar-graph g.labels line {
    stroke: black;
    stroke-width: 1;
}